---
permalink: /cibles-interieurs.html
altlink: /eng/indoor-targets.html
layout: default
pagetitle: Lancer de hache en intérieur • Découvrez notre arène secrète...
pageh1: Nos cibles intérieures<span>pour une expérience de lancer de haches unique</span>
pageid: interieurs
pagekeywords: Maniax, Lancer de hache intérieur, Lancer de hache pour enterrement de vie de garçon, Lancer de hache pour fête d’anniversaire, Lancer de hache pour fête de retraite, Événement de lancer de hache pour conférence, Lancer de hache pour reconnaissance des employés, Lancer de hache pour lancement de produit, Lancer de hache pour événements, Événements corporatifs de lancer de hache, Lieu de fête de lancer de hache, Activités amusantes de lancer de hache, Idées uniques pour enterrement de vie de garçon, Célébrations d’anniversaire avec lancer de hache, Idées de célébration de retraite, Lancer de hache pour team building, Lieu d’événement de lancer de hache, Lancer de hache pour occasions spéciales, Expériences de groupe de lancer de hache, Lancer de hache intérieur Montréal, Lancer de hache intérieur Laval, Apportez votre propre nourriture
pagedesc: Découvrez le lancer de hache intérieur à Montréal et Laval pour fêtes, événements corporatifs, team building et occasions spéciales. Parfait pour des célébrations mémorables!
body: interieurs
---

<section>
	<h2><span class="orange-color">Activité unique et original</span></h2>
	<h3>Arrêtez-vous chez Maniax<sup class="trademark">®</sup> pour vivre une expérience dont vos amis et vous parlerez pendant des semaines.<br/><br/>Venez lancer des haches pour vos occasions spéciales.</h3>
	
	<div class="details-holder-outer">
		<div class="details-row">
			<div class="details-image wow fadeInRight birthdays details-image-slide image-slide" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s">
				<div class="paginate-arrows-holder">
				<a href="#" slide-number="1" class="paginate-arrows paginate-arrows-1 btn-current">1</a>
				<div class="vert-line"></div>
				<a href="#" slide-number="2" class="paginate-arrows paginate-arrows-2">2</a>
				<div class="vert-line"></div>
				<a href="#" slide-number="3" class="paginate-arrows paginate-arrows-3">3</a>
				</div>
			</div>

			<div class="details-text-holder wow fadeInUp" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s">
				<div class="details-text">
					<h4>Anniversaires</h4>
					<p>Venez célébrer l’anniversaire d’un ami, d’un partenaire, d’un collègue ou même d’un membre de votre famille!</p>
					<p>Lancer des haches est l’activité parfaite pour s’amuser, quel que soit votre âge!</p>
				</div>
			</div>
		</div>
		
		<div class="details-row">
			<div class="details-image bachelor-pic wow fadeInRight details-image-slide image-slide1" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s">
				<div class="paginate-arrows-holder">
				<a href="#" slide-number="1" class="paginate-arrows paginate-arrows-1 btn-current">1</a>
				<div class="vert-line"></div>
				<a href="#" slide-number="2" class="paginate-arrows paginate-arrows-2">2</a>
				<div class="vert-line"></div>
				<a href="#" slide-number="3" class="paginate-arrows paginate-arrows-3">3</a>
				</div>
			</div>
			<div class="details-text-holder wow fadeInUp" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s">
				<div class="details-text">
					<h4>Bachelors et bachelorettes</h4>
					<p>En tant que témoin ou demoiselle d’honneur pourquoi, ne pas organiser une séance de lancer de haches (une des activités les plus originales qui soit) pour votre ami(e) qui célébrera son mariage bientôt?</p>
					<p>Nous tenons à spécifier que les costumes sont permis et même encouragés.</p>
				</div>
			</div>
		</div>
		
		<div class="details-row">
			<div class="details-image retirement-pic wow fadeInRight" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s"></div>
			<div class="details-text-holder wow fadeInUp" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s">
				<div class="details-text">
					<h4>Départ à la retraite</h4>
					<p>Lancer des haches est la meilleure façon de célébrer une retraite, apportant une aventure excitante et mémorable à cette étape importante de la vie.</p>
				</div>
			</div>
		</div>
		
		<div class="details-row">
			<div class="details-image wow fadeInRight team-pic details-image-slide image-slide2" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s">
				<div class="paginate-arrows-holder">
				<a href="#" slide-number="1" class="paginate-arrows paginate-arrows-1 btn-current">1</a>
				<div class="vert-line"></div>
				<a href="#" slide-number="2" class="paginate-arrows paginate-arrows-2">2</a>
				<div class="vert-line"></div>
				<a href="#" slide-number="3" class="paginate-arrows paginate-arrows-3">3</a>
				</div>
			</div>
			<div class="details-text-holder wow fadeInUp" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s">
				<div class="details-text">
					<h4>Conférences, lancements de produits ou récompense d'employés</h4>
					<p>Nos installations vous permettent d’organiser des rencontres, conférences, lancements de produits ou autres activités d’entreprise.</p>
				</div>
			</div>
		</div>
	</div>

<div class="divider-line-mobile"></div>
	<div class="food-icon wow fadeInDown" data-wow-offset="50" data-wow-duration=".60s" data-wow-delay=".10s"></div>
	<h3 class="wow fadeInUp" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s">Apporter votre propre nourriture, ou choisir de vous en faire livrer directement dans nos locaux !</h3>	
	<div class="divider-line-mobile"></div>
	{% include timeline.html %}	
</section>

{% include text-carousel.html %}

<div class="flex-holder-outer flex-scroll-outer">
	<div class="image-holder"></div>
	<div class="image-holder"></div>
	<div class="image-holder"></div>
	<div class="image-holder"></div>
	<div class="image-holder"></div>
</div>
<div class="scroll-btn-holder"><a href="#" class="horizon-prev-product"><div></div></a> <span>|</span> <a href="#" class="horizon-next-product"><div></div></a></div>
<div class=".divider-line-mobile"></div>
<section>
	<h3 class="title-no-bottom">Nos tarifs:</h3>
	<div class="tab-holder">
		<a data-current="90-tab" class="current" href="#">90 à 120 Minutes</a>
		<a data-current="base-tab" href="#">70 Minutes</a>
		<a data-current="events-tab"href="#">Événements</a>
	</div>
	<div class="tarifs-holder-outer 90-tab current">{% include base-plan-90.html %}</div>
	<div class="tarifs-holder-outer base-tab">{% include base-plan-60.html %}</div>
	<div class="tarifs-holder-outer events-tab">{% include events-price-table.html %}</div>
	
	
	
	<p class="main-button-wrapper"><a class="main-button" href="reservez.html">Réservez maintenant</a></p></section>
	
	{% include media.html %}