---
permalink: /index.html
altlink: /eng/index.html
layout: default
pagetitle: Lancer de haches à Laval – Découvrez ce qui vous attend...
pageh1: Bienvenue chez Maniax <span>L'expérience ultime de lancer de haches à Laval</span>
pageid: index
pagekeywords: Maniax, Lancer de hache Montréal ,Lancer de hache Laval ,Lancer de hache intérieur, Lancer de hache extérieur, Lancer de hache près de moi ,Lieu de lancer de hache ,Expérience de lancer de hache, Meilleur lancer de hache à Montréal, Meilleurs endroits pour lancer de hache à Laval, Fêtes de lancer de hache, Événements corporatifs de lancer de hache, Ligues de lancer de hache à Montréal, Lancer de hache familial, Jeux de lancer de hache, Cibles de lancer de hache, anniversaires, bachelors, bachelorettes, fêtes privées, départ à la retraite, Événements corporatifs, team building
pagedesc: Découvrez le lancer de hache intérieur et extérieur à Montréal et à Laval. Parfait pour les sorties amusantes, événements corporatifs et ligues. Rejoignez-nous!
body: index
---

<div class="divider-line-mobile"></div>

	<h2><span class="orange-color">Nos services</span></h2>
	<h3> Aucune expérience n'est requise. Quel que soit votre niveau, grâce à nos formateurs, vous saurez atteindre la cible en un rien de temps!</h3>
<div class="services-intro-holder flex-holder-outer flex-scroll-outer">
	
	<a href="cibles-interieurs.html" class="services-intro wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s"><h4>Cibles intérieures</h4>
	
	<p>Envie de vous défouler sur des cibles régulières dans un environnement hors du commun.</p>
	<div id="container">
		Venez célébrer vos:<br/>
		<div id="caption">
			<span>anniversaires</span>
			<span>bachelors</span>
			<span>bachelorettes</span>
			<span>partys de Noël</span>
			<span>fêtes privées</span>
			<span>retraites</span>
			
		</div> <br/>d’une manière unique et inoubliable.
	</div>
	<div class="main-button">afficher plus <div class="arrow-down"></div></div>
	</a>
	
	<a href="cibles-exterieurs.html" class="services-intro wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s"><h4>Cibles extérieures<br/>(mobile)</h4>

	<p>Maniax<sup class="trademark">®</sup> peut se déplacer n'importe&nbsp;où!</p>
	<p><span class="br"></span>Il suffit d’un <strong class="white">espace de 13'x20'</strong> pour nous installer et c’est parti!</p>
	<div id="container-two">
		Célébrez vos:<br/>
		<div id="caption-two">
			<span>anniversaires</span>
			<span>bachelors</span>
			<span>bachelorettes</span>
			<span>fêtes privées</span>
			<span>festivales</span>
			<span>retraites</span>
		</div> <br/>d’une manière unique et inoubliable.
	</div>
	<div class="main-button">afficher plus <div class="arrow-down"></div></div>
	</a>
	
	<a href="team-building.html" class="services-intro wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".30s"><h4>Événements corporatifs<br/>(Team building)</h4>
	<p>Maniax<sup class="trademark">®</sup> est l’établissement rêvé pour participer à des événements corporatifs et à des activités de team building réussies.</p>
	<div class="main-button">afficher plus <div class="arrow-down"></div></div>
	</a>
	
	<a href="ligue-de-lancher-de-haches.html" class="services-intro wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".4s"><h4>Ligue de lancer de haches</h4>
	<p>Séance de pratique et une compétition à la fin de 8 semaines consécutives.</p>
	<p>Devenez un pro du lancer de haches. Ambiance familiale. Aucune expérience requise!</p>
	<div class="main-button">afficher plus <div class="arrow-down"></div></div>
	</a>
</div>
	<div class="scroll-btn-holder services-scroll-btns"><a href="#" class="horizon-prev-product"><div></div></a> <span>|</span> <a href="#" class="horizon-next-product"><div></div></a></div>
	
	<div class="divider-line-mobile"></div>
	<div class="services-intro-bottom">
	<div class="packages-icon wow fadeInDown" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s"></div>
	<h3 class="wow fadeInUp" data-wow-offset="50" data-wow-duration=".60s" data-wow-delay="0s">Nos packages exclusifs vous offrent une expérience clé en main, comprenant tous les services dont vous avez besoin pour vivre une expérience inoubliable.</h3>
	<div class="multiple-btn-holder"><a class="main-button" href="tarifs.html">Nos tarifs</a> <span>ou</span> <a class="main-button" href="reservez.html">Réservez maintenant</a></div>
	</div>
	
	<div class="bookeo-testimonials">{% include testimonials-bookeo.html %}</div>
	<div class="regular-testimonials">{% include testimonials.html %}</div>
	
	{% include media.html %}