		<div class="tarifs-holder popular-plan">
		<div class="tarif-holder-background"></div>
		<div class="popular">Populaire</div>
		<div class="star"></div>
		<div class="star-banner"></div>
		<div class="taxes-message">*Taxes non incluses</div>
		<div class="time">90 à 120<span>Minutes</span></div>
		<div class="tarifs-details">
			Lancers illimités sur cibles régulières<br/>(pendant 120 minutes)
		</div>
		<div class="tarifs-details info-btn">
			<div class="arrow-down"></div>
			<p>8 types de haches Maniax<sup class="trademark">®</sup></p>
			<div class="extra-info">Ninja, Mini-Tomahawk, Maniax<sup class="trademark">®</sup>, l'Officiel, Viking, l'hybride, Tomahawk et la Big Bertha.</div>
		</div>
		<div class="tarifs-details info-btn">
			Instructeur professionnel inclus<br/>(durée de 2 à 3 minutes de formation) <div class="arrow-down"></div>
			<div class="extra-info">Normalement, les explications ne dure que 2 à 3 minutes, par contre l'apprentissage peut être beaucoup plus long. Nos entraîneurs sont là pour vous aider alors n'hésitez à demander leur aide. (Les pourboires du personnel Maniax<sup class="trademark">®</sup> sont entièrement à votre discrétion.)</div>
		</div>
		<div class="tarifs-details info-btn">
			<div class="arrow-down"></div>
			<p>1 à 3 personnes par cible (1 joueur minimum)</p>
			<div class="extra-info">Dépendamment de l'achalandage.<br/><br/>Exemple 2 pers. sur 2 cibles ou 3 pers. sur 2 cibles ou 5 pers. sur 3 cibles,10 pers. sur 5 cibles.<br/><br/>Non valide lors de période achalandée.</div>
		</div>
		<div class="tarifs-details">
			Tournoi double élimination
		</div>
		<div class="tarifs-details">
			On ne vous mixes pas avec d'autre personnes sur la même cible, vous restez avec vos amis!
		</div>
		<div class="tarifs-details">
			Stationnement gratuit
		</div>
		<div class="cost"><sup>$</sup>39.14<span>/ personne*</span></div>
		{%- if page.pageid == "tarifs" -%}<a class="main-button" href="reservez.html">Réservez maintenant</a>{%- endif -%}
	</div>	