
	<div class="tarifs-holder">
		<div class="tarif-holder-background"></div>
		<div class="taxes-message">*Taxes not included</div>
		<div class="time">70<span>Minutes</span></div>
		<div class="tarifs-details">
			Unlimited throws at regular targets<br/>(for 70 minutes)
		</div>
		<div class="tarifs-details info-btn">
			<div class="arrow-down"></div>
			<p>3 Types of Maniax<sup class="trademark">®</sup> axes</p>
			<div class="extra-info">(Ninja, Mini-Tomahawk & Official)</div>
		</div>
		<div class="tarifs-details info-btn">
			<div class="arrow-down"></div>
			<p>Professional instructor included<br/>(training duration of 2 to 3 minutes)</p>
			<div class="extra-info">Normally, the explanations only last for 2 to 3 minutes, but the learning process can be much longer. Our coaches are there to assist you, so don't hesitate to ask for their help. (Tipping the Maniax<sup class="trademark">®</sup> staff is entirely at your discretion.)</div>
		</div>
		<div class="tarifs-details info-btn">
			<div class="arrow-down"></div>
			<p>1 to 3 people per target (minimum of 1 player)</p>
			<div class="extra-info">Depending on the # of players.<br/><br/>Example: 2 people on 2 targets or 3 people on 2 targets or 5 people on 3 targets, 10 people on 5 targets.<br/><br/>Not valid during busy periods.</div>
		</div>
		<div class="tarifs-details">
			We don't mix you with other people on the same target, you stay with your friends!
		</div>
		<div class="tarifs-details">
			Free Parking
		</div>
		<div class="cost"><sup>$</sup>26.09<span>/ person*</span></div>
		{%- if page.pageid == "tarifs" -%}<a class="main-button" href="reserve.html">Reserve Now</a>{%- endif -%}
	</div>