
{%- if page.pageid == "tarifs" -%}<h2>Événements</h2>{%- endif -%}
<div class="tarifs-holder events">
	<div class="tarif-holder-background"></div>
	<div class="taxes-message">*Taxes non incluses</div>
	<div class="time">2h30 à 3 Heures</div>
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>12 joueurs minimum</p>
		<div class="extra-info">Il faut être un minimum de 12 joueurs pour une réservation d'événement. Si vous arrivez en-bas de douze personnes. Vous devrez toutefois payer pour le nombre minimal de 12 personnes.</div>
	</div>
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>8 types de haches Maniax<sup class="trademark">®</sup></p>
		<div class="extra-info">Ninja, Mini-Tomahawk, Maniax<sup class="trademark">®</sup>, l'Officiel, Viking, l'hybride, Tomahawk et la Big Bertha.</div>
	</div>
	<div class="tarifs-details">
		Instructeur professionnel inclus<br/>(durée de 2 à 3 minutes de formation)
	</div>
	
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>1 à 3 personnes par cible</p>
		<div class="extra-info">Dépendamment de l'achalandage.</div>
	</div>
	<div class="tarifs-details">
		Tournoi simple ou double élimination
	</div>
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>Comptabilisation des points de chaque match</p>
		<div class="extra-info">Une compétition peut facilement atteindre une durée de deux heures. (dépendant de la taille du groupe) Faire le décompte des points devient alors une tâche ardue et gâche le plaisir des participants.<br/><br/>Dans le forfait événement, c’est votre animateur-coach Maniax<sup class="trademark">®</sup> qui se chargera de gérer tout ce qui concerne la logistique de la compétition : organisation, comptabilisation et arbitrage.<br/><br/>Vous vous sentirez dans une compétition officielle du lancer de la hache !</div>
	</div>
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>Animations professionnelles avec microphone et arbitrage du tournoi</p>
		<div class="extra-info">L’animateur-coach est essentiel au bon déroulement d’une activité de groupe. L’animateur saura garder votre événement vivant et bien organisé tout en vous distrayant.<br/><br/>Accompagné d'un commentateur sportif Maniax<sup class="trademark">®</sup>, chaque groupe vivra une expérience unique et personnalisée.</div>
	</div>
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>Photo souvenir</p>
		<div class="extra-info">C’est le temps de la photo de groupe. Celle-ci est primordiale pour garder un souvenir des bons moments passés chez Maniax<sup class="trademark">®</sup> et pour partager votre expérience sur les réseaux sociaux.</div>
	</div>
	<div class="tarifs-details">
		Stationnement gratuit
	</div>
	<div class="cost"><sup>$</sup>47.84<span>/ personne*</span></div>
	{%- if page.pageid == "tarifs" -%}<a class="main-button" href="reservez.html">Réservez maintenant</a>{%- endif -%}
</div>	
<div class="events-30-people-holder wow fadeInUp" data-wow-offset="100" data-wow-duration=".40s" data-wow-delay=".10s"><p><a href="nous-joindre.html"><strong>Venez nous joindre</strong></a> pour un groupe de <strong>30 personnes et plus</strong> et un membre de notre équipe va vous contacter sous peut.</p></div>