
{%- if page.pageid == "tarifs" -%}<h2>Events</h2>{%- endif -%}
<div class="tarifs-holder events">
	<div class="tarif-holder-background"></div>
	<div class="taxes-message">*Taxes not included</div>
	<div class="time">2:30 to 3 Hours</div>
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>12 players minimum</p>
		<div class="extra-info">A minimum of 12 players is required for an event reservation. If you arrive with fewer than twelve people, you will still need to pay for the minimum of 12 people.</div>
	</div>
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>8 Types of Maniax<sup class="trademark">®</sup> axes</p>
		<div class="extra-info">(Ninja, Mini-Tomahawk, Maniax<sup class="trademark">®</sup>, Official, Viking, Hybrid, Tomahawk, and The Big Bertha)</div>
	</div>
	<div class="tarifs-details">
		Professional instructor included<br/>(training duration of 2 to 3 minutes).
	</div>
	
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>1 à 3 players per target</p>
		<div class="extra-info">Depending on the # of players.<br/><br/>Example: 2 people on 2 targets or 3 people on 2 targets or 5 people on 3 targets, 10 people on 5 targets.<br/><br/>Not valid during busy periods.</div>
	</div>
	<div class="tarifs-details">
		Single or double elimination tournament.
	</div>
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>Scoring for each match</p>
		<div class="extra-info">A competition can easily last up to two hours (depending on the group size). Keeping track of the scores can then become a challenging task and spoil the participants' fun.<br/><br/>In the event package, it's your Maniax<sup class="trademark">®</sup> host-coach who will take care of all the logistics of the competition: organization and scoring.<br/><br/>You'll feel like you're in an official axe-throwing competition!</div>
	</div>
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>Professional commentator with microphone and tournament officiating.</p>
		<div class="extra-info">The host-coach is essential for the smooth running of a group activity. He/She will keep your event lively and well-organized while entertaining you.<br/><br/>Accompanied by a Maniax<sup class="trademark">®</sup> commentator, each group will have a unique and personalized experience.</div>
	</div>
	<div class="tarifs-details info-btn">
		<div class="arrow-down"></div>
		<p>Souvenir photo</p>
		<div class="extra-info">It's time for the group photo. This is essential to keep a memory of the great moments spent at Maniax<sup class="trademark">®</sup> and to share your experience on social media.</div>
	</div>
	<div class="tarifs-details">
		Free Parking
	</div>
	<div class="cost"><sup>$</sup>47.84<span>/ person*</span></div>
	{%- if page.pageid == "tarifs" -%}<a class="main-button" href="reserve.html">Reserve Now</a>{%- endif -%}
</div>	
<div class="events-30-people-holder wow fadeInUp" data-wow-offset="100" data-wow-duration=".40s" data-wow-delay=".10s"><p><a href="contact-us.html"><strong>Contact us</strong></a> for a groupe of <strong>30 people or more</strong> and a member of our team will contact your shortly.</p></div>