<section id="faq-outer" class="flex-holder-outer">
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">What is your cancellation policy?</a><div class="arrow-down"></div></div>
		<div class="faq-answer"><p>If you need to cancel or reschedule your event, you are required to notify us at least seven (7) days in advance.</p></div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">What clothing should I wear?</a><div class="arrow-down"></div></div>
		<div class="faq-answer"><p>Closed-toe shoes are mandatory, following our establishment's rules.</p>
			<p>For safety reasons, you must wear comfortable closed-toe sports shoes that fully cover your feet.</p>
			<p>If you're wearing open-toed or open-top shoes, such as beach sandals, ballet flats, or lightweight fabric shoes, you won't be allowed to throw. High heels are also discouraged.</p>
			<p>We also recommend wearing loose and comfortable shirts that won't restrict your arm or upper body movements.</p></div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">May I bring a meal or a snack?</a><div class="arrow-down"></div></div>
		<div class="faq-answer"><p>At Maniax<sup class="trademark">®</sup>, we want you to have the most fun possible. That's why you can bring your own food, or choose to have it delivered directly to our premises!</p>
			<p>Please note that glass bottles are prohibited, and only cans and plastic water bottles will be allowed.</p></div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">What is the minimum age?</a><div class="arrow-down"></div></div>
		<div class="faq-answer"><p>The minimum age is 10 years and older when accompanied by a parent or guardian.</p></div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">Can I come with a child or a spectator?</a><div class="arrow-down"></div></div>
		<div class="faq-answer">
			<p>Young participants can engage in axe throwing from the age of 10, as long as they are accompanied by an adult.</p>
			<p>It is not prohibited to bring a child under 10 years of age, but we discourage it.</p>
			<p>Our facilities are designed for an informed audience and can, therefore, become very noisy.</p>
			<p>Spectators are welcome, but they cannot participate in axe throwing.</p>
		</div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">Can I use my own axe?</a><div class="arrow-down"></div></div>
		<div class="faq-answer"><p>Participants must use the axes provided by our staff.</p></div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">Can I drop in at any time to give it a try?</a><div class="arrow-down"></div></div>
		<div class="faq-answer">
			<p>Walk-ins are accepted if we are already open for other reservations.</p>
		</div>
	</div>
	
</section>