<section id="faq-outer" class="flex-holder-outer">
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">Quelle est votre politique d’annulation?</a><div class="arrow-down"></div></div>
		<div class="faq-answer"><p>Si vous devez annuler ou reporter votre événement, vous êtes tenu de nous en aviser au moins sept (7) jours à l’avance.</p></div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">Quels vêtements porter?</a><div class="arrow-down"></div></div>
		<div class="faq-answer"><p>Les chaussures fermées sont obligatoires, conformément aux règles de notre établissement.</p>
			<p>Pour des raisons de sécurité, vous devez porter des chaussures de sport confortables et fermées, couvrant entièrement vos pieds.</p>
			<p>Si vous portez des chaussures ouvertes ou qui exposent le dessus de vos pieds, comme des sandales de plage ou de marche, des ballerines ou des chaussures en tissu léger, vous ne serez pas autorisé à lancer. Les talons hauts sont également déconseillés.</p>
			<p>Nous vous recommandons également de porter un chandail ample et confortable qui ne restreindra pas vos mouvements des bras ou du haut du corps.</p></div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">Puis-je apporter un repas ou une collation?</a><div class="arrow-down"></div></div>
		<div class="faq-answer"><p>Chez Maniax<sup class="trademark">®</sup>, nous souhaitons que vous ayez le maximum de plaisir. C’est pourquoi vous pouvez apporter votre propre nourriture, ou choisir de vous en faire livrer directement dans nos locaux!</p>
			<p>Veuillez noter que les bouteilles en vitre sont interdites et que seules les canettes et les gourdes en plastique seront autorisées.</p></div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">Âge minimum?</a><div class="arrow-down"></div></div>
		<div class="faq-answer"><p>L'âge minimum est de 10 ans et plus avec un parent ou accompagnateur.</p></div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">Puis-je venir avec un enfant ou un spectateur?</a><div class="arrow-down"></div></div>
		<div class="faq-answer">
			<p>Les jeunes peuvent participer au lancer de haches à partir de l’âge de 10 ans, en autant qu'il sont accompagnés d’un adulte.</p>
			<p>Il n’est pas interdit de se présenter avec un enfant de moins de 10 ans, mais nous le déconseillons.</p>
			<p>Nos installations sont conçues pour un public averti et peuvent par conséquent devenir très bruyantes.</p>
			<p>Les spectateurs sont les bienvenus, mais ils ne peuvent pas lancer de haches.</p>
		</div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">Puis-je utiliser ma propre hache?</a><div class="arrow-down"></div></div>
		<div class="faq-answer"><p>Les participants doivent utiliser les haches fournies par notre personnel.</p></div>
	</div>
	
	<div class="faq-holder">
		<div class="faq-question-holder"><a class="faq-question" href="#">Puis-je passer quand je veux pour essayer?</a><div class="arrow-down"></div></div>
		<div class="faq-answer">
			<p>Les "Walk-ins" sont acceptés si nous sommes déjà ouverts pour d'autres réservations.</p>
		</div>
	</div>
	
</section>