<div class="tarifs-holder-outer league-tab">
{%- if page.pageid == "league" -%}<h2>Rates</h2>{%- else -%}<h2>Axe Throwing League</h2>{%- endif -%}
<div class="flex-holder-outer league-holder">
	<div class="tarifs-holder league">
		<div class="tarif-holder-background"></div>
		<div class="time">Once a Week</div>
		
		<div class="tarifs-details">
			Very low monthly cost<strong> NO COMMITMENT</strong>
		</div>
		<div class="tarifs-details">
			Warm and family-friendly atmosphere!
		</div>
		<div class="tarifs-details">
			Training and improvement of throwing skills
		</div>
		<div class="tarifs-details">
			No experience required!
		</div>
		<div class="tarifs-details">
			Practice and train with other members of the Maniax<sup class="trademark">®</sup> social group
		</div>
		<div class="cost"><strike>145.00</strike>125.00<span>/ 8 weeks</span>
			<div class="student"><div class="student-price">Students & Teens: <div>99.99</div></div></div>
		</div>
		{%- if page.pageid == "tarifs" -%}<a class="main-button" href="contact-us.html">Contact Us</a>{%- endif -%}
	</div>
</div>
</div>