<div class="tarifs-holder-outer league-tab">
{%- if page.pageid == "league" -%}<h2>Tarifs</h2>{%- else -%}<h2>Ligue de lancher de haches</h2>{%- endif -%}
<div class="flex-holder-outer league-holder">
	<div class="tarifs-holder league">
		<div class="tarif-holder-background"></div>
		<div class="time">Une fois par semaine</div>
		
		<div class="tarifs-details">
			Très bas prix mensuel <strong>SANS ENGAGEMENT</strong>
		</div>
		<div class="tarifs-details">
			Ambiance chaleureuse et familiale!
		</div>
		<div class="tarifs-details">
			Formation et perfectionnement du lancer
		</div>
		<div class="tarifs-details">
			Aucune expérience requise!
		</div>
		<div class="tarifs-details">
			Pratiquez vous et entrainez-vous avec les autres membres du groupe social de Maniax<sup class="trademark">®</sup>
		</div>
		<div class="cost"><strike>145.00</strike>125.00<span>/ 8 semaines</span>
		<div class="student"><div class="student-price">Adolescents et étudiants: <div>99.99</div></div></div>
	</div>
		{%- if page.pageid == "tarifs" -%}<a class="main-button" href="reservez.html">Contactez-nous</a>{%- endif -%}
	</div>
</div>
</div>