<a href="{{base}}/index.html" class="mobile-logo {% if messageBanner == "yes" %}banner-padding{% endif %}"></a>
<a href="#" class="mobile-nav-btn {% if messageBanner == "yes" %}banner-padding{% endif %}"></a>
<div class="mobile-nav-holder mobile-nav-hide {% if messageBanner == "yes" %}banner-padding{% endif %}">
	<div class="mobile-nav-inner">
	<a class="{% if page.pageid == "index" %}current{% endif %}" href="{{base}}/index.html">Acceuil</a>
	
	<a class="mobile-submenu-title mobile-sub-menu-propos-title {% if page.pageid == "about" or page.pageid == "historique" or page.pageid == "faq" or page.pageid == "images" %}current{% endif %}" href="#">À propos <div class="arrow-down"></div></a>
	<div class="propos-sub-holder">
	<a class="mobile-submenu-link {% if page.pageid == "historique"%}current{% endif %}" href="{{base}}/historique.html">Historique</a>
	<a class=" mobile-submenu-link {% if page.pageid == "images" %}current{% endif %}" href="{{base}}/images.html">Galerie d'images</a>
	<a class="mobile-submenu-link {% if page.pageid == "faq" %}current{% endif %}" href="{{base}}/faq.html">FAQ</a>
	</div>
	
	<a class="mobile-submenu-title mobile-sub-menu-services-title {% if page.pageid == "services" or page.pageid == "team-building" or page.pageid == "exterieurs" or page.pageid == "interieurs" or page.pageid == "league" %}current{% endif %}" href="#">Services <div class="arrow-down"></div></a>
	<div class="services-sub-holder">
	<a class="mobile-submenu-link {% if page.pageid == "interieurs" %}current{% endif %}" href="{{base}}/cibles-interieurs.html">Cibles interieurs</a>
	<a class="mobile-submenu-link {% if page.pageid == "exterieurs" %}current{% endif %}" href="{{base}}/cibles-exterieurs.html">Cibles exterieur (mobile)</a>
	<a class="mobile-submenu-link {% if page.pageid == "league" %}current{% endif %}" href="{{base}}/ligue-de-lancher-de-haches.html">Ligue de lancer de haches</a>
	<a class="mobile-submenu-link {% if page.pageid == "team-building" %}current{% endif %}" href="{{base}}/team-building.html">Team building</a>
	</div>
	
	<a class="mobile-submenu-title mobile-sub-menu-tarifs-title {% if page.pageid == "tarifs" or page.pageid == "gifts" %}current{% endif %}" href="#">Tarifs <div class="arrow-down"></div></a>
	<div class="tarifs-sub-holder">
	<a class="mobile-submenu-link {% if page.pageid == "tarifs" %}current{% endif %}" href="{{base}}/tarifs.html">Tarifs</a>
	<a class="mobile-submenu-link {% if page.pageid == "gifts" %}current{% endif %}" href="{{base}}/cartes-cadeaux.html">Cartes cadeaux</a>
	</div>
	
	
	<a class="{%- if page.pageid == "contact" or page.pageid == "merci" -%}current{%- endif -%}" href="{{base}}/nous-joindre.html">Nous joindre</a>
	<a class="reserve-btn reserve-btn-mobile {%- if page.pageid == "reservations" -%}current{%- endif -%}" href="{{base}}/reservez.html">Réservez maintenant</a>
	<a href="#" class="mobile-nav-btn-close"></a>
	<div class="mobile-bottom">
	<a href="{{base}}{{ page.altlink }}" class="lang-btn lang-btn-mobile">EN</a>
	<div class="social-holder">
		<a class="facebook" href="https://www.facebook.com/Maniaxofficiel"></a>
		<a class="instagram" href="https://www.instagram.com/maniaxofficiel/"></a>
	</div>
	</div>
	</div>
	<div class="tarif-holder-background"></div>
</div>