<div class="testimonials-outer-holder">
	<div class="divider-line-mobile"></div>
	<h2><span class="orange-color">Témoignages</span></h2>
	
	<div class="flex-scroll-outer-two scroll-snap-class wow slideInRight" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	
	<div class="testimonial-holder">
		<div class="testimonial-header">
		<div class="testimonial-pic jean">
			<div class="quote quote-left"></div><div class="quote"></div>
		</div>
		<div class="testimonial-name">Jean Bastien<span>Client</span></div>
	</div>
	<div class="testimonial-text">Une très bonne expérience j'ai vraiment apprécié lancer des haches.<br/>C'est vraiment étrange, mais après une heure, ça passe vite. Je vais y retourner avec mes fils, je vous le conseille et le personnel était super.</div>
	<div class="paginate-holder">
		<div class="paginate current"></div>
		<div class="paginate"></div>
		<div class="paginate"></div>
		<div class="paginate"></div>
	</div>
	</div>
	
	<div class="testimonial-holder">
		<div class="testimonial-header">
		<div class="testimonial-pic bianca"><div class="quote quote-left"></div><div class="quote"></div></div>
		<div class="testimonial-name">Bianca<span>Cliente</span></div>
	</div>
	<div class="testimonial-text">Superbe expérience!! Bel endroit et staff de feu.<br/>En résumé; je recommande à tous.</div>
	<div class="paginate-holder">
		<div class="paginate"></div>
		<div class="paginate current"></div>
		<div class="paginate"></div>
		<div class="paginate"></div>
	</div>
	</div>
	
	<div class="testimonial-holder">
		<div class="testimonial-header">
		<div class="testimonial-pic danny"><div class="quote quote-left"></div><div class="quote"></div></div>
		<div class="testimonial-name">Danny<span>Client</span></div>
	</div>
	<div class="testimonial-text">Chouette concept! Un environnement encadré permettant de lancer des haches pour le plaisir, ou par défi.<br/>Activité de groupe qui change de la routine.</div>
	<div class="paginate-holder">
		<div class="paginate"></div>
		<div class="paginate"></div>
		<div class="paginate current"></div>
		<div class="paginate"></div>
	</div>
	</div>
	
	<div class="testimonial-holder">
		<div class="testimonial-header">
		<div class="testimonial-pic sara"><div class="quote quote-left"></div><div class="quote"></div></div>
		<div class="testimonial-name">Sara<span>Cliente</span></div>
	</div>
	<div class="testimonial-text">Une activité à essayer au moins une fois !!<br/>J'ai adoré le concept ... on a vraiment eu du plaisir..</div>
	<div class="paginate-holder">
		<div class="paginate"></div>
		<div class="paginate"></div>
		<div class="paginate"></div>
		<div class="paginate current"></div>
	</div>
	</div>
	
	</div>
</div>
<div class="scroll-btn-holder scroll-btn-holder-two"><a href="#" class="horizon-prev-product-two"><div></div></a> <span>|</span> <a href="#" class="horizon-next-product-two"><div></div></a></div>