<div class="testimonials-outer-holder">
	<div class="divider-line-mobile"></div>
	<h2><span class="orange-color">Testimonials</span></h2>
	
	<div class="flex-scroll-outer-two scroll-snap-class wow slideInRight" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	
	<div class="testimonial-holder">
		<div class="testimonial-header">
		<div class="testimonial-pic jean">
			<div class="quote quote-left"></div><div class="quote"></div>
		</div>
		<div class="testimonial-name">Jean Bastien<span>Client</span></div>
	</div>
	<div class="testimonial-text">A very enjoyable experience, I really liked throwing axes.<br/>It's quite unusual, but the time flies by after an hour.<br/>I'll be going back with my sons, I highly recommend it, and the staff was great.</div>
	<div class="paginate-holder">
		<div class="paginate current"></div>
		<div class="paginate"></div>
		<div class="paginate"></div>
		<div class="paginate"></div>
	</div>
	</div>
	
	<div class="testimonial-holder">
		<div class="testimonial-header">
		<div class="testimonial-pic bianca"><div class="quote quote-left"></div><div class="quote"></div></div>
		<div class="testimonial-name">Bianca<span>Client</span></div>
	</div>
	<div class="testimonial-text">Fantastic experience!! Beautiful place and amazing staff.<br/>In summary, I recommend it to everyone.</div>
	<div class="paginate-holder">
		<div class="paginate"></div>
		<div class="paginate current"></div>
		<div class="paginate"></div>
		<div class="paginate"></div>
	</div>
	</div>
	
	<div class="testimonial-holder">
		<div class="testimonial-header">
		<div class="testimonial-pic danny"><div class="quote quote-left"></div><div class="quote"></div></div>
		<div class="testimonial-name">Danny<span>Client</span></div>
	</div>
	<div class="testimonial-text">
		Cool concept! A supervised environment for throwing axes for fun or challenge.<br/>A group activity that breaks the routine.</div>
	<div class="paginate-holder">
		<div class="paginate"></div>
		<div class="paginate"></div>
		<div class="paginate current"></div>
		<div class="paginate"></div>
	</div>
	</div>
	
	<div class="testimonial-holder">
		<div class="testimonial-header">
		<div class="testimonial-pic sara"><div class="quote quote-left"></div><div class="quote"></div></div>
		<div class="testimonial-name">Sara<span>Client</span></div>
	</div>
	<div class="testimonial-text">An activity to try at least once!!<br/>I loved the concept... we had so much fun.</div>
	<div class="paginate-holder">
		<div class="paginate"></div>
		<div class="paginate"></div>
		<div class="paginate"></div>
		<div class="paginate current"></div>
	</div>
	</div>
	
	</div>
</div>
<div class="scroll-btn-holder scroll-btn-holder-two"><a href="#" class="horizon-prev-product-two"><div></div></a> <span>|</span> <a href="#" class="horizon-next-product-two"><div></div></a></div>