<h2>Déroulement de l'activité</h2>

<div class="flex-scroll-outer team-building-animation wow slideInRight" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
<div class="timeline-outer-holder">
<div class="middle-line"></div>	
<div class="middle-line-mobile"></div>	

<div class="timeline timeline-left wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Coaching<br/>et Instructions</div>
	<p>Accompagnés d’un coach Maniax<sup class="trademark">®</sup>, nous vous donnons tous les conseils utiles pour maîtriser l’art du lancer de haches.</p>
	<p>Pour cette première partie de l’activité, nos instructeurs vous donnent des directives détaillées pendant que vous vous familiarisez avec la technique.</p>
</div>

<div class="timeline timeline-right wow fadeInRight" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Entraînement<br/>et défoulement</div>
	<p>La période d’entraînement est un moment important pour votre groupe. Atteignez le centre de la cible autant de fois que possible.</p>
</div>

<div class="timeline timeline-left wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Différentes techniques et différentes haches</div>
	<p>Demandez à notre personnel de vous apprendre les différentes techniques pour le lancer.</p>
	<p>Vous pouvez également essayer différentes haches, qui ont chacune leurs particularités.</p>
	<p>Laquelle sera votre préférée?</p>
</div>

<div class="timeline timeline-right wow fadeInRight" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Compétition<br/>et tournoi</div>
	<p>Vous avez également l’occasion de participer à un tournoi simple ou double élimination, en compagnie des membres de votre groupe.</p>
	<p>Vous pourrez alors vous mesurer à d’autres équipes et évaluer où vous en êtes dans l’art du lancer de la hache!</p>
	<p>Ces compétitions se veulent amicales et plaisantes. Le but demeure de s’amuser!</p>
</div>

<div class="timeline timeline-left wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Remise de cadeau au gagnant</div>
	<p>À la fin du tournoi, deux finalistes seront couronnés champions.</p>
</div>

<div class="timeline timeline-right wow fadeInRight" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Photo souvenir de votre groupe</div>
	<p>Nous prenons tous les groupes en photo gratuitement pour immortaliser l'expérience.</p>
</div>

</div>
</div>