<h2>Activity Timeline</h2>

<div class="flex-scroll-outer team-building-animation wow slideInRight" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
<div class="timeline-outer-holder">
<div class="middle-line"></div>	
<div class="middle-line-mobile"></div>	

<div class="timeline timeline-left wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Coaching<br/>& Instructions</div>
	<p>Guided by a Maniax<sup class="trademark">®</sup> coach, we provide you with all the useful tips to master the art of axe throwing.</p>
	<p>For this first part of the activity, our instructors give you detailed instructions as you familiarize yourself with the technique.</p>
</div>

<div class="timeline timeline-right wow fadeInRight" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Training<br/>& Practice</div>
	<p>The training period is an important moment for your group. Try to hit the bullseye as many times as possible.</p>
</div>

<div class="timeline timeline-left wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Different techniques and types of axes</div>
	<p>Ask our staff to teach you the different techniques for throwing.</p>
	<p>You can also try different axes, each with its own characteristics.</p>
	<p>Which one will be your favorite?</p>
</div>

<div class="timeline timeline-right wow fadeInRight" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Competition<br/>& tournament</div>
	<p>You also have the opportunity to participate in a single or double elimination tournament, along with the members of your group.</p>
	<p>You can then compete against other teams and assess where you stand in the art of axe throwing!</p>
	<p>These competitions are meant to be friendly and enjoyable. The goal is to have fun!</p>
</div>

<div class="timeline timeline-left wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Award ceremony for the winners</div>
	<p>At the end of the tournament, two finalists will be crowned champions.</p>
</div>

<div class="timeline timeline-right wow fadeInRight" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s">
	<div class="timeline-title">Souvenir photo of your group</div>
	<p>We take photos of all groups for free to capture your experience.</p>
</div>

</div>
</div>