---
permalink: /eng/index.html
altlink: /index.html
layout: default-eng
pagetitle: Maniax Axe Throwing • Montreal’s • Laval #1 Thrilling Activity!
pageh1: Welcome to Maniax<span>The Ultimate Axe Throwing Experience in Laval</span>
pageid: index
pagekeywords: Maniax, Axes, Laval, Montreal, Quebec, Axe Throwing, birthdays, bachelors, bachelorettes, private parties, retirement parties, corporate events, team building, Axe throwing Montreal, Axe throwing Laval, Indoor axe throwing ,Outdoor axe throwing ,Axe throwing near me ,Axe throwing venue ,Axe throwing experience ,Best axe throwing in Montreal ,Top axe throwing spots Laval , Axe throwing parties , Corporate axe throwing events , Axe throwing leagues Montreal, Family-friendly axe throwing, Axe throwing games, Axe throwing targets, Bring your own food
pagedesc: Experience indoor and outdoor axe throwing in Montreal and Laval. Perfect for fun outings, corporate events, and league play. Join us today!
body: index
---

<div class="divider-line-mobile"></div>

	<h2><span class="orange-color">Our Services</span></h2>
	<h3> No experience is required. Regardless of your skill level, with the help of our coaches, you'll be hitting the target in no time!</h3>
<div class="services-intro-holder flex-holder-outer flex-scroll-outer">
	
	<a href="indoor-targets.html" class="services-intro wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s"><h4>Indoor Targets</h4>
	
	<p>Want to release some stress on targets in an extraordinary environment?</p>
	<div id="container">
		Come celebrate your:<br/>
		<div id="caption">
			<span>birthdays</span>
			<span>bachelor parties</span>
			<span>bachelorette parties</span>
			<span>Christmas parties</span>
			<span>private parties</span>
			<span>retirement parties</span>
			
		</div><br/> in a unique and unforgettable way.
	</div>
	<div class="main-button">see more <div class="arrow-down"></div></div>
	</a>
	
	<a href="outdoor-targets.html" class="services-intro wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".20s"><h4>Outdoor Targets<br/>(mobile)</h4>

	<p>Maniax<sup class="trademark">®</sup> can be moved anywhere!</p>
	<p><span class="br"></span>All we need is a <strong class="white">13'x20' space</strong> for our setup and we're ready to go.</p>
	<div id="container-two">
		Come celebrate your:<br/>
		<div id="caption-two">
			<span>birthdays</span>
			<span>bachelor parties</span>
			<span>bachelorette parties</span>
			<span>Christmas parties</span>
			<span>private parties</span>
			<span>festivals</span>
			<span>retirement parties</span>
		</div><br/> in a unique and unforgettable way.
	</div>
	<div class="main-button">see more <div class="arrow-down"></div></div>
	</a>
	
	<a href="team-building.html" class="services-intro wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".30s"><h4>Corporate Events<br/>(Team building)</h4>
	<p>Maniax<sup class="trademark">®</sup> is the perfect venue for successful corporate events and team-building activities..</p>
	<div class="main-button">see more <div class="arrow-down"></div></div>
	</a>
	
	<a href="axe-throwing-league.html" class="services-intro wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".4s"><h4>Axe Throwing League</h4>
	<p>Practice sessions and a competition at the end of 8 weeks.</p>
	<p>Become an axe throwing pro. Family-friendly atmosphere. No experience required!</p>
	<div class="main-button">see more <div class="arrow-down"></div></div>
	</a>
</div>
	<div class="scroll-btn-holder services-scroll-btns"><a href="#" class="horizon-prev-product"><div></div></a> <span>|</span> <a href="#" class="horizon-next-product"><div></div></a></div>
	
	<div class="divider-line-mobile"></div>
	<div class="services-intro-bottom">
	<div class="packages-icon wow fadeInDown" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".10s"></div>
	<h3 class="wow fadeInUp" data-wow-offset="50" data-wow-duration=".60s" data-wow-delay="0s">Our exclusive packages provide you with a turnkey experience, including all the services you need to have an unforgettable time.</h3>
	<div class="multiple-btn-holder"><a class="main-button" href="rates.html">Our Rates</a> <span>ou</span> <a class="main-button" href="reserve.html">Reserve Now</a></div>
	</div>
	
	<div class="bookeo-testimonials">{% include testimonials-bookeo-eng.html %}</div>
	<div class="regular-testimonials">{% include testimonials-eng.html %}</div>
	
	{% include media-eng.html %}