---
altlink: /team-building.html
permalink: /eng/team-building.html
layout: default-eng
pagetitle: The Best Team-Building Activity? Here’s Why It’s Axe Throwing...
pageh1: Team Building at Maniax<span>Strengthen Your Team with Axe Throwing</span>
pageid: team-building
pagekeywords: Maniax, Corporate axe throwing events, Team building axe throwing, Axe throwing for conferences, Corporate event axe throwing, Conference space axe throwing, Team bonding axe throwing, Outdoor axe throwing events, Indoor axe throwing activities, Axe throwing team activities, Corporate retreat axe throwing, team building activity, team building activities
pagedesc: Discover axe throwing for corporate events, team building, and conferences. Indoor and outdoor spaces available. Perfect for team activities and retreats!
body: team-building
---

<h2><span class="orange-color">Team building</span></h2>
<h3>Face your boss, employees, or colleagues without fear: what happens at Maniax<sup class="trademark">®</sup> stays at Maniax<sup class="trademark">®</sup>!</h3>

<div class="divider-line-mobile"></div>

{% include timeline-eng.html %}

<div class="flex-holder-outer flex-scroll-outer">
	<div class="image-holder"></div>
	<div class="image-holder"></div>
	<div class="image-holder"></div>
	<div class="image-holder"></div>
	<div class="image-holder"></div>
</div>
<div class="scroll-btn-holder"><a href="#" class="horizon-prev-product"><div></div></a> <span>|</span> <a href="#" class="horizon-next-product"><div></div></a></div>
<div class="divider-line-mobile"></div>
<div class="companies-holder-outer">
	<h2 class="orange-color">Companies that choose Maniax<sup class="trademark">®</sup></h2>
	<div class="companies-holder">
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".1s"><img src="../assets/imgs/companies/bombardier.svg" title="bombardier" alt="bombardier" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".2s"><img src="../assets/imgs/companies/saputo.svg" title="saputo" alt="saputo" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".1s"><img src="../assets/imgs/companies/desjardins.svg" title="desjardins" alt="desjardins" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".3s"><img src="../assets/imgs/companies/cae.svg" title="cae" alt="cae" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".4s"><img src="../assets/imgs/companies/cirque-du-soleil.svg" title="Cirque du soleil" alt="Cirque du soleil" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".5s"><img src="../assets/imgs/companies/sobeys.svg" title="sobeys" alt="sobeys" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".6s"><img src="../assets/imgs/companies/national-bank.svg" title="national bank" alt="national bank" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".7s"><img src="../assets/imgs/companies/bmo.svg" title="bmo" alt="bmo" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".8s"><img src="../assets/imgs/companies/cascades.svg" title="cascades" alt="cascades" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay=".9s"><img src="../assets/imgs/companies/enterprise.svg" title="enterprise car rental" alt="enterprise car rental" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay="1s"><img src="../assets/imgs/companies/ia.svg" title="Industrial Alliance" alt="ia" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company wow fadeInLeft" data-wow-offset="100" data-wow-duration=".60s" data-wow-delay="1.1s"><img src="../assets/imgs/companies/airbus.svg" title="airbus" alt="airbus" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/td-bank.svg" title="TD Bank" alt="td bank" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/intact.svg" title="intact insurance" alt="intact" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/scotiabank.svg" title="scotiabank" alt="scotiabank" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/rolls-royce.svg" title="Rolls Royce" alt="rolls-royce" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/guess.svg" title="Guess" alt="guess" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/lumen.svg" title="Lumen" alt="Lumen" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/united-rentals.svg" title="United Rentals" alt="united-rentals" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/bayer.svg" title="Bayer" alt="bayer" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/zibo.svg" title="Zibo" alt="zibo" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/ntn.svg" title="NTN" alt="ntn" loading="lazy" /></div><div class="vert-line"></div>	
		<div class="company"><img src="../assets/imgs/companies/goodfellow.png" title="Good Fellow" alt="goodfellow" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/montoni.svg" title="montoni" alt="montoni" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/dream.svg" title="dream" alt="dream" loading="lazy" /></div><div class="vert-line"></div>
		<div class="company"><img src="../assets/imgs/companies/permacon.svg" title="permacon" alt="permacon" loading="lazy" /></div>
	</div>
	<a href="#" class="companies-btn"><div><span class="more">See More</span><span class="less">See Less</span></div><div class="arrow-down"></div></a>
</div>
<div class="divider-line-mobile"></div>
<section>{% include events-price-table-eng.html %}<p class="main-button-wrapper"><a class="main-button" href="reserve.html">Reserve Now</a></p></section>
